@charset "UTF-8";

:root {
  --cor0: #8c2029;
  --cor1: #bf3030;
  --cor2: #bf1717;
  --cor3: #401d1d;
  --cor4: #0d0d0d;
}

* {
  margin: 0px;
  padding: 0px;
}

/* https://wallpapercave.com/wp/Ht4KpOC.jpg */

body {
  background-color: var(--cor0);
  font-family: Arial, Helvetica, sans-serif;
  background: black url("imagens/bg4.jpg") top center no-repeat fixed;
  background-size: cover;
}

header {
  font-size: 2em;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--cor0),
    transparent
  );
  text-align: center;
  color: var(--cor4);
  padding: 10px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.363);
}

nav {
  margin: 40px 0px;
  text-align: center;
}

nav > a {
  font-size: 1.4em;
  text-decoration: none;
  color: white;
  margin: 10px 10px 10px 10px;
  padding: 10px;
  transition: 0.5s;
}

nav > #iluminados:hover {
  text-decoration: underline;
  color: var(--cor2);
  background-color: white;
  border-radius: 5px;
  font-weight: bolder;
}
nav > #temidos:hover {
  text-decoration: underline;
  color: white;
  background-color: var(--cor2);
  border-radius: 5px;
  font-weight: bolder;
}

main {
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

main img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.418);
}

main h1 {
  font-size: 4em;
  background-image: linear-gradient(to right, transparent, white, transparent);
}

#sideImg {
  width: 50%;
}

#sideTitle {
  font-size: 1.3em;
  font-family: monospace;
  background-image: linear-gradient(to right, transparent, white, transparent);
  margin-bottom: 5px;
  font-weight: bolder;
}

#stones {
  display: inline-block;
}

#sideTitle1 {
  font-size: 1.3em;
  font-family: monospace;
  background-image: linear-gradient(to right, transparent, white, white);
  margin-bottom: 5px;
  margin-right: -5px;
  font-weight: bolder;
}

#sideTitle2 {
  font-size: 1.3em;
  font-family: monospace;
  background-image: linear-gradient(to right, white, white, transparent);
  margin-bottom: 5px;
  font-weight: bolder;
}

main h2 {
  font-size: 3em;
  background-image: linear-gradient(to right, transparent, white, transparent);
}

.principal {
  background-color: rgba(255, 255, 255, 0.486);
  color: var(--cor4);
  font-family: monospace;
  margin: 15px 10px;
  font-size: 1.5em;
  text-align: justify;
  text-indent: 20px;
  line-height: 1.2em;
  padding: 5px;
  border-radius: 10px 0px;
  box-shadow: 1px 1px 1px 2px rgb(0 0 0 / 43%);
}

aside {
  background-color: white;
  padding: 10px;
  border: 1px solid var(--cor3);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.425);
  border-radius: 10px;
}

p {
  background-color: rgba(255, 255, 255, 0.486);
  color: var(--cor4);
  font-family: monospace;
  margin: 15px 10px;
  font-size: 1.5em;
  text-align: justify;
  text-indent: 20px;
  line-height: 1.2em;
}

aside > h3 {
  background-color: var(--cor4);
  color: white;
  text-align: center;
  padding: 10px;
  margin: -10px -10px 0px -10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
aside > ul {
  list-style-type: "\1F517\00A0\00A0";
  text-align: center;
  list-style-position: inside;
  columns: 2;
}

.hero {
  text-decoration: none;
  color: var(--cor3);
  font-weight: bolder;
}

.hero:hover {
  text-decoration: underline;
}

footer p {
  background-color: var(--cor1);
  font-size: 0.9em;
  text-align: center;
  padding: 5px;
  margin: 0px;
}

#fandom {
  text-decoration: underline;
  color: black;
}

table {
  border-collapse: collapse;
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.425);
}

tr,
td,
th {
  border: 1px solid black;
  padding: 5px;
  font-weight: bold;
}

details > summary {
  background-color: rgba(255, 255, 255, 0.486);
  width: 50%;
  color: var(--cor4);
  font-family: monospace;
  margin: 10px auto;
  font-size: 1.3em;
  text-align: center;
  box-shadow: 2px 1px 5px 2px #00000085;
  border-radius: 10px;
  cursor: pointer;
}

.strenght {
  background-color: rgba(255, 0, 0, 0.459);
}
.agility {
  background-color: rgba(0, 128, 0, 0.459);
}
.inteligence {
  background-color: rgba(0, 0, 255, 0.459);
}

#container {
  overflow-x: auto;
}
