@charset "UTF-8";

:root {
  --cor0: #8c2029;
  --cor1: #bf3030;
  --cor2: #bf1717;
  --cor3: #401d1d;
  --cor4: #0d0d0d;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--cor0);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  font-size: 2em;
  background-image: linear-gradient(to top, var(--cor3), var(--cor0));
  text-align: center;
  color: var(--cor4);
  padding: 30px;
}

nav {
  margin: 10px 0px;
  text-align: center;
}

nav > a {
  font-size: 1.2em;
  text-decoration: none;
  color: var(--cor4);
  margin: 10px 10px 10px 10px;
  padding: 10px;
  transition: 0.5s;
}

nav > a:hover {
  text-decoration: underline;
  color: var(--cor4);
  background-color: var(--cor2);
  border-radius: 5px;
  font-weight: bolder;
}

main {
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

main img {
  width: 100%;
}

main h1 {
  font-size: 3em;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--cor3),
    transparent
  );
}

main h2 {
  font-size: 2em;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--cor3),
    transparent
  );
}

p {
  font-family: monospace;
  margin: 15px 10px;
  font-size: 1.2em;
  text-align: justify;
  text-indent: 20px;
  line-height: 1.2em;
  font-weight: bolder;
}

.iluminados {
  color: white;
}

aside {
  background-color: white;
  padding: 10px;
  border: 1px solid var(--cor3);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.425);
  border-radius: 10px;
}

aside > h3 {
  background-color: var(--cor4);
  color: white;
  text-align: center;
  padding: 10px;
  margin: -10px -10px 0px -10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
aside > ul {
  list-style-type: "\1F517\00A0\00A0";
  text-align: center;
  list-style-position: inside;
  columns: 2;
}

.hero {
  text-decoration: none;
  color: var(--cor3);
  font-weight: bolder;
}

.hero:hover {
  text-decoration: underline;
}

footer p {
  background-color: var(--cor1);
  font-size: 0.9em;
  text-align: center;
  padding: 5px;
}
